h1 {
  text-align: center;
}

head {
  text-align: center;
}

#intro{
  font-size: 1.25em;
  text-align: center;
  width: 750px;
}

.image-cropper {
width:250px;
height: 250px;
position: relative;
overflow: hidden;
border-radius: 50%;
}

img {
display: inline;
margin: 0 auto;
height: 100%;
width: auto;
}

#image {
  border:1px solid lightgray;
  width: 400px;
  height: 650px;
}

#mag {
  width: 50%;
  height: 50%;
  text-align: center;
}

.spoke {
  width: 50%;
  height: 20%;
}

td {
  padding: 10px;
}
/*
#thr {
    width: 40%
}*/
