/* Main Index page */
@font-face {
  font-family: 'Brushed'; /*a name to be used later*/
  src: url('media/font/h1Font2.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'Typed'; /*a name to be used later*/
  src: url('media/font/h2Font3.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'Titled'; /*a name to be used later*/
  src: url('media/font/h2Font1.otf'); /*URL to font*/
}

/*
font-family: 'Megrim', cursive;
font-family: 'Freckle Face', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Chonburi', cursive;
font-family: 'Barrio', cursive;
font-family: 'Poppins', sans-serif;
*/

.johnline {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(6,13,97,0.1), rgba(6,13,97,0.6), rgba(6,13,97,0.1));

}

h3 {
  font-family: 'Poppins';
}

.orangeNut {
  font-family: 'Barrio';
  font-size: 200%;
}

.blueNut {
  font-family: 'Brushed';
  font-size: 225%;
  letter-spacing: 3px;
}

.song {
  border: solid red 2px;
}

.colorBlack {
  color: black;
}

#header2 {
  font-family: 'Titled';
}

#byjohn {
  font-size: 35%;
  font-family: 'Typed';
}

#title {
  font-family: 'Brushed';
  color: black;
  font-size: 200%;
}

p {
  font-family: 'Poppins', serif;
  font-size: 18px;
}

.brushed {
  font-family: 'Brushed';
}

.backBlack {
  background-color: black;
}

.dropdown {
  text-align: left;
  float: right;
}

.dropdown-item {
  font-size: 150%;
}

.imageTitle {
  font-size: 300%;
}

#myCarousel {
  border-collapse: collapse;
}

/* Photography Page */

.mySlides {
  display: none;
}

.colorWhite {
  color: white;
}

#imagebodyPhoto {
  background: url("https://static1.squarespace.com/static/57aec5b59de4bb3199c56e97/585241a72994ca7a625c40d2/58524321e6f2e1489431ffc6/1481786184053/2016-07-09+11.19.32+1.jpg?format=2500w");
  text-align: center;
}

}

#fore {

  opacity: 1;
}

#rugby p {
  width: 400px;
}

.shortW {
  text-align: center;
  width: 400px;
}

/* Project Page */

#project {
  border-collapse: separate;
  border-spacing: 25px 50px;
  background-color: black;
}

th {
  color: #ef5700;
}

iframe {
  text-align: right;
}

th p {
  text-align: center;
  font-size: 200%;
}

#selected {
  background-color: orange;
  color: navy;
}

#deselected {
  background-color: navy;
  color: orange;
}

#orange {
  background-color: navy;
  color: orange;
}


/*#orange a {
  background-color: inherit;
  color: inherit;
}*/
/* Experience */

.imageF {
  height: 300%;
}

.bgColor {
  background-color: rgba(0, 0, 0, 0.8);
}

#asuwb {
  height: 50%;
  /*width: 50%;*/
}

/* About Author Page */

#about {
  text-align: center;

}

#issaquah {
  height: 50%;
  width: 100%;
  vertical-align: bottom;
}

#uwb{
  height: 50%;
}

#headerE {
  color: white;
  background-color: black;
  height: 120px;
  vertical-align: middle;
}

#headerC {
  color: white;
  background-color: black;
  height: 120px;
  vertical-align: middle;
}

#coloredIn {
  background-color: orange;
}

#boxForm {
  text-align: center;
}
